version: '3.8'
services:
  app-staging:
    image: diegojustino1/pipeline_dev_ac2:latest
    container_name: pipeline-staging
    restart: always 
    
    ports:
      - "8081:8080"

    environment:
      - SPRING_PROFILES_ACTIVE=staging 